RV_BOARD_3326=y
RV_PARTITION_START_OFFSET="8388608"
RV_MISC_PARTITION_SIZE="4194304"
RV_BOOT_PARTITION_SIZE="33554432"
RV_RECOVERY_PARTITION_SIZE="33554432"
# RV_SET_BACKUP_PARTITION is not set
RV_ROOTFS_PARTITION_FSTYPE="squashfs"
UBOOT_DEFCONFIG="evb-rk3326_defconfig"
KERNEL_DEFCONFIG="$(RV_BOARD_TYPE)_linux_defconfig"
KERNEL_DTS_NAME="rk3326-evb-lp3-v10-linux"
BUILDROOT_CONFIG_FILE="$(BOARD_DIR)/$(RV_BOARD_TYPE)/buildroot_config/configs/rk3326_linaro_aarch64_defconfig"
BUILDROOT_ENABLE_LIBDRM=y
RV_TARGET_MPP=y
# RV_TARGET_FFMPEG_AUTOCONFIGURE is not set
RV_TARGET_FFMPEG_FFPLAY=y
RV_TARGET_FFMPEG_DEMUXER_MOV_MP4=y
RV_TARGET_FFMPEG_DEMUXER_AAC=y
